@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

@import url("https://fonts.googleapis.com/css?family=Montserrat:900");

@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Mulish:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');

/*-----GLOBAL DECLARATIONS-----*/

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --rad: .7rem;
    --dur: .3s;
    --color-dark: #2f2f2f;
    --color-light: #fff;
    --color-brand: #57bd84;
    --font-fam: 'Lato', sans-serif;
    --height: 5rem;
    --btn-width: 6rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

body {
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    justify-content: space-between;
    font-family: 'Nunito', sans-serif;
}

/*---HEADER DIV---*/

.header {
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.app-header {
    background: url(./robert-lukeman-_RBcxo9AU-U-unsplash.jpg) center;
    height: 20vh;
    width: 100vw;
    animation: sliding-background 100s linear infinite;
    text-align: center;
}

.header-title {
    font-family: 'Montserrat', sans-serif;
    background: whitesmoke;
    color: #000;
    font-size: 8vw;
    letter-spacing: 1vw;
    line-height: 20vh;
    margin: 0;
    mix-blend-mode: lighten;
    text-shadow: 6px 3px 7px rgba(106, 105, 105, 0.58);
}

.logo-copyright {
    text-align: center;
    font-weight: 800;
    background-color:lightgreen;
}

a[href="https://www.flaticon.com/free-icons/season"] {
    font-family: 'Carter One', cursive;
    font-family: 'Mulish', sans-serif;
    text-decoration: none;
    color: blue;
    transition: 0.3s ease;
}

a:hover {
    color: whitesmoke;
    transition: 0.3s ease;
}

/*---MAIN DIV---*/

#location-search-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(83vh - 5em);
    background-image: linear-gradient(130deg, azure, lavender);
}

.main-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(10vw - 50px);
}

.logo-image {
    width: 300px;
    height: auto;
}

#weather-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

form {
  position: relative;
  width: calc(40vw - 15px);
  background: var(--color-brand);
  border-radius: var(--rad);
}

input, .form-button {
  height: var(--height);
  font-family: var(--font-fam);
  border: 0;
  color: var(--color-dark);
}

input[type="search"] {
  outline: 0;
  width: 100%;
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: 0 1.6rem;
  border-radius: var(--rad);
  appearance: none;
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
  font-size: 2vw;
}

.form-button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: var(--btn-width);
  font-weight: bold;
  background: var(--color-brand);
  border-radius: 0 var(--rad) var(--rad) 0;
  font-size: 2vw;
}

input:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));
}

input:not(:placeholder-shown) + button {
  display: block;
}

label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

#error {
    color: red;
    font-weight: 800;
    font-size: 1.5rem;
}

/*-----FOOTER DIV-----*/

.footer {
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    padding: 5px;
    background-image: linear-gradient(to right, #87cefa, #69a8ec, #687ed5, #7550b2, #800080);
    color: white;
}
  
.footer a:link { 
    text-decoration: none;
    color: white;
}
  
.footer a:visited { 
    text-decoration: none;
    color: white;
}
  
.footer a:hover { 
    text-decoration: none;
    transition: 0.3s ease;
    color:lightgreen;
}
  
.footer a:active { 
    text-decoration: none;
    color: white;
}

/*-----HIDDEN PARTS-----*/

/*--Overlay Window--*/

.overlay-window {
    display: none; /*invisible when inactive*/
    position: absolute; /*the div will be fixed even if mouse scrolled down*/
    top: 0; /*exact place of the div*/
    left: 0; /*exact place of the div*/
    width: 100%;
    height: 100%;
    background-color:dimgray;
    opacity: 0.8;
}

.overlay-window.active {
    display: block;
}

.city-forecast-info-modal {
    position: fixed;
    width: calc(80vw - 20px);
    height: calc(61vh - 20px);
    z-index: 1; /*the div will be in front of the overlayWindow*/
    top: 50%; /*exact place of the div*/
    left: 50%; /*exact place of the div*/
    border-radius: 2px;
    background-color:lightsteelblue;
    user-select: none;
    transform: translate(-50%, -50%) scale(0); /*will be animated*/
    transition: 200ms ease-in-out;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.city-forecast-info-modal-heading {
    font-family: 'Mulish', sans-serif;
    font-size: 5vw;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.city-forecast-info-modal-flex-1-heading,
.city-forecast-info-modal-flex-2-heading {
    font-family: 'Mulish', sans-serif;
    font-size: 2vw;
    background-image: linear-gradient(to right, #87cefa, #69a8ec, #687ed5, #7550b2, #800080);
    width: 100%;
    text-align: center;
    color: white;
    padding: 10px;
}

.city-forecast-info-modal-flex-1,
.city-forecast-info-modal-weekly-flex-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: white;
}

.city-forecast-info-modal-flex-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 2px solid gainsboro;
    padding-right: 20px;
    font-size: 1vw;
}

.city-forecast-info-modal-flex-item:nth-child(7) {
    border-right: none;
}

.city-forecast-info-modal.active {
    transform: translate(-50%, -50%) scale(1);
}

@keyframes sliding-background {
    0%,
    100% {
        background-position: 0 40%;
    }
    50% {
        background-position: 100% 40%;
    }
}

@media (max-width: 650px) {

    .app-header {
        animation: sliding-background 20s linear infinite;
    }

    .header-title {
        font-size: 10vw;
    }

    .main-screen {
        flex-direction: column;
        gap: 50px;
    }

    form {
        width: 350px;
    }

    input[type="search"] {
        font-size: 3vw;
      }

    .form-button {
        font-size: 4vw;
    }

    .city-forecast-info-modal {
        height: calc(40vh - 20px);
    }
}
