@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

@import url("https://fonts.googleapis.com/css?family=Montserrat:900");

@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Mulish:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');

/*-----GLOBAL DECLARATIONS-----*/

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --rad: .7rem;
    --dur: .3s;
    --color-dark: #2f2f2f;
    --color-light: #fff;
    --color-brand: #57bd84;
    --font-fam: 'Lato', sans-serif;
    --height: 5rem;
    --btn-width: 6rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

body {
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    justify-content: space-between;
    font-family: 'Nunito', sans-serif;
}

/*---HEADER DIV---*/

.header {
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.app-header {
    background: url(./images/robert-lukeman-_RBcxo9AU-U-unsplash.jpg) center;
    height: 20vh;
    width: 100vw;
    animation: sliding-background 100s linear infinite;
    text-align: center;
}

.header-title {
    font-family: 'Montserrat', sans-serif;
    background: whitesmoke;
    color: #000;
    font-size: 8vw;
    letter-spacing: 1vw;
    line-height: 20vh;
    margin: 0;
    mix-blend-mode: lighten;
    text-shadow: 6px 3px 7px rgba(106, 105, 105, 0.58);
}

.logo-copyright {
    text-align: center;
    font-weight: 800;
    background-color:lightgreen;
}

a[href="https://www.flaticon.com/free-icons/season"] {
    font-family: 'Carter One', cursive;
    font-family: 'Mulish', sans-serif;
    text-decoration: none;
    color: blue;
    transition: 0.3s ease;
}

a:hover {
    color: whitesmoke;
    transition: 0.3s ease;
}

/*---MAIN DIV---*/

.location-search-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(83vh - 5em);
    background-image: linear-gradient(130deg, azure, lavender);
    animation: fadeIn 1s;
}

.location-search-content.passive {
    display: none;
}

.main-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(10vw - 50px);
}

.logo-image {
    width: 300px;
    height: auto;
}

#weather-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

form {
  position: relative;
  width: calc(40vw - 15px);
  background: var(--color-brand);
  border-radius: var(--rad);
}

input, .form-button {
  height: var(--height);
  font-family: var(--font-fam);
  border: 0;
  color: var(--color-dark);
}

input[type="search"] {
  outline: 0;
  width: 100%;
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: 0 1.6rem;
  border-radius: var(--rad);
  appearance: none;
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
  font-size: 2vw;
}

.form-button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: var(--btn-width);
  font-weight: bold;
  background: var(--color-brand);
  border-radius: 0 var(--rad) var(--rad) 0;
  font-size: 2vw;
}

input:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));
}

input:not(:placeholder-shown) + button {
  display: block;
}

label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.error {
    display: none;
    color: red;
    font-weight: 800;
    font-size: 1.5rem;
}

.error.active {
    display: block;
    animation: fadeIn 1s;
}

.result-screen {
    display: none;
}

.result-screen.active {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: calc(83vh - 5em);
    justify-content: center;
    /*background: url(./images/ash.jpg);
    no-repeat center center fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
    position: relative;
    animation: fadeIn 0.5s;
}

.city-name {
    z-index: 1;
    color: white;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 3vw;
}

.result-content {
    position: relative;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2rem;
    gap: 1em;
    background-color: rgba(0, 0, 0, 0.779);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    width: calc(45vw);
    height: 70%;
    z-index: 1;
    color: white;
    animation: fadeIn 2s;
}

.return-btn-div {
    width: 3rem;
    height: 3rem;
    position: absolute;
    right: -0.5em;
    top: -0.5em;
    border-radius: 50%;
    background-color:deepskyblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-rotate-left {
    cursor: pointer;
    transition: filter 0.3s ease;
}

.fa-rotate-left:hover {
    filter: invert(58%) sepia(21%) saturate(2614%) hue-rotate(298deg) brightness(105%) contrast(102%);
}

.result-summary {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.temp {
    display: flex;
    font-size: 6vw;
    gap: 15px;
}

#result-weather {
    filter: invert(100%) sepia(100%) saturate(34%) hue-rotate(356deg) brightness(109%) contrast(100%);
    width: 20vw;
    height: 20vh;
}

.summary-item {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.summary-item:last-child {
    border-left: 2px solid var(--color-light);
}

.result-details {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

.details-item h2 {
    color: var(--color-brand);
    font-size: 1em;
    margin: 0;
}

.details-item div {
    display: flex;
    gap: 4px;
}

.details-item p {
    margin: 0;
}  

.convert-units-btn {
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    background-color:deepskyblue;
    color: var(--color-light);
    border: 0;
    border-radius: 50%;
    outline: 0;
    font-size: 2em;
    width: 2em;
    height: 2em;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    transition: color 0.3s ease;
}

.convert-units-btn:hover {
    color:hotpink;
}

#open-details-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color-light);
    border: 0;
    border-radius: 0 0 2rem 2rem;
    outline: 0;
    font-size: 1.5vw;
    width: 100%;
    height: calc(5vh - 5px);
    cursor: pointer;
    transition: color 0.3s ease;
}

#open-details-btn:hover {
    color:hotpink;
}

/*-----FOOTER DIV-----*/

.footer {
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    padding: 5px;
    background-image: linear-gradient(to right, #87cefa, #69a8ec, #687ed5, #7550b2, #800080);
    color: white;
}
  
.footer a:link { 
    text-decoration: none;
    color: white;
}
  
.footer a:visited { 
    text-decoration: none;
    color: white;
}
  
.footer a:hover { 
    text-decoration: none;
    transition: 0.3s ease;
    color:lightgreen;
}
  
.footer a:active { 
    text-decoration: none;
    color: white;
}

/*-----HIDDEN PARTS-----*/

/*--Overlay Window--*/

.overlay-window {
    display: none; /*invisible when inactive*/
    position: absolute; /*the div will be fixed even if mouse scrolled down*/
    top: 0; /*exact place of the div*/
    left: 0; /*exact place of the div*/
    width: 100%;
    height: 100%;
    background-color:black;
    opacity: 0.7;
}

.overlay-window.active {
    display: block;
}

.spin {
    display: none;
    position: fixed;
    width: 100px;
    height: 100px;
    z-index: 1; /*the div will be in front of the overlayWindow*/
    top: 45%; /*exact place of the div*/
    left: 45%; /*exact place of the div*/
    border: 12px solid rgba(125, 7, 158, 0.947);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 2s ease-in-out infinite;
    -webkit-animation: spin 2s ease-in-out infinite;
}

.spin.active {
    display: inline-block;
}

.city-forecast-info-modal {
    display: none;
    position: fixed;
    width: calc(60vw - 20px);
    /*height: calc(45vh - 20px);*/
    height: 40%;
    z-index: 1; /*the div will be in front of the overlayWindow*/
    top: 50%; /*exact place of the div*/
    left: 50%; /*exact place of the div*/
    border-radius: 2px;
    background-color:lightsteelblue;
    user-select: none;
    transform: translate(-50%, -50%) scale(0); /*will be animated*/
    transition: 200ms ease-in-out;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.city-forecast-info-modal-heading {
    font-family: 'Mulish', sans-serif;
    font-size: 5vw;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.result-weather-detail {
    font-size: 3vw;
    background-color: white;
    text-align: center;
}

.city-forecast-info-modal-flex-heading {
    font-family: 'Mulish', sans-serif;
    font-size: 2vw;
    background-image: linear-gradient(to right, #87cefa, #69a8ec, #687ed5, #7550b2, #800080);
    width: 100%;
    text-align: center;
    color: white;
    padding: 10px;
}

.city-forecast-info-modal-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: white;
}

.city-forecast-info-modal-flex-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 2px solid gainsboro;
    padding-right: 20px;
    font-size: 1vw;
}

.city-forecast-info-modal-flex-item:nth-child(5) {
    border-right: none;
}

.city-forecast-info-modal.active {
    display: block;
    transform: translate(-50%, -50%) scale(1);
    animation: fadeIn 1s;
}

@keyframes sliding-background {
    0%,
    100% {
        background-position: 0 40%;
    }
    50% {
        background-position: 100% 40%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
}
  @-webkit-keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
}

@media (max-width: 650px) {

    .app-header {
        animation: sliding-background 20s linear infinite;
    }

    .header-title {
        font-size: 10vw;
    }

    .main-screen {
        flex-direction: column;
        gap: 50px;
    }

    form {
        width: 350px;
    }

    input[type="search"] {
        font-size: 3vw;
      }

    .form-button {
        font-size: 4vw;
    }

    .city-name {
        font-size: 4vw;
    }

    .city-forecast-info-modal {
        height: calc(30vh - 20px);
    }

    .result-content {
        width: 60%;
        height: 80%;
    }

    #open-details-btn {
        font-size: 2.5vw;
    }
}